<!-- Navbar -->
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" routerLink="/main">
        Logo
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mt-2">
          <a routerLink="/main" class="nav-link mt-2"> Main</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item mt-2">
          <a routerLink="/products" class="nav-link mt-2"> Product</a> &nbsp;&nbsp;
        </li>
        <li class="nav-item mt-2">
          <a routerLink="/users" class="nav-link mt-2"> Users</a> &nbsp;&nbsp;
        </li>
        <li class="nav-item mt-2">
          <a routerLink="/posts" class="nav-link mt-2"> Posts</a> &nbsp;&nbsp;
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <!-- Login | Register -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mt-2">
          <a routerLink="/login" class="nav-link mt-2"> LogIn</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item mt-2">
          <a routerLink="/register" class="nav-link mt-2"> Register </a> &nbsp;&nbsp;
        </li>
      </ul>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>
